@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Linux-Libertine-Display-Capitals";
  src: url("Linux-Libertine-Display-Capitals.ttf.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: "Linux-Libertine-Display-Capitals";
  font-family: "";
}

@keyframes slide-in {
  from {
    width: 0;
    left: 0;
    right: auto;
  }
  to {
    width: 100%;
    left: 0;
    right: auto;
  }
}

@keyframes slide-out {
  from {
    width: 100%;
    left: auto;
    right: 0;
  }
  to {
    width: 0;
    left: auto;
    right: 0;
  }
}

@layer utilities {
  .underline-hover {
    position: relative;
    overflow: hidden;
  }

  .underline-hover::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transition:
      width 0.3s ease,
      left 0.3s ease,
      right 0.3s ease;
  }

  .underline-hover:hover::after {
    animation: slide-in 0.4s forwards;
  }

  .underline-hover:not(:hover)::after {
    animation: slide-out 0.3s forwards;
  }
}
